{% extends 'admin/master.html' %}

{% block body %}
    <h3>Список страниц</h3>

    <table class="table table-striped table-bordered model-list">
        <thead><tr>
            <th>Путь</th>
            <th>Заголовок</th>
            <th>Действия</th>
        </tr></thead>
        <tbody>
            {% for page in pages %}
            <tr>
                <td><a href="{{ url_for('show_page', path=page['path']) }}">{{ page['path'] }}</a></td>
                <td>{{ page['title'] }}</td>
                <td><div class="btn-group">
                    <a href="{{ url_for('.edit', path=page['path']) }}" class="btn"><i class="icon-pencil"></i> Редактировать</a>
                    <a href="{{ url_for('.delete', path=page['path']) }}" class="btn"><i class="icon-remove"></i> Удалить</a>
                </td></div>
            </tr>
            {% endfor %}
            <tr>
                <td colspan=2><input id="new_path" class='input-block-level' type=text placeholder="some/new/path"></td>
                <td><button id="create_page" class="btn btn-primary">Создать</button></td>
            </tr>
        </tbody>
    </table>
        
{% endblock %}

{% block tail %}
    <script language="javascript">
        var base_url = '{{ url_for(".edit", path="__path__") }}';

        $('#create_page').on('click', function() {
            var path = $('#new_path').val();
            if (path) {
                window.location = base_url.replace('__path__', path);
            }
        })
    </script>
{% endblock %}
