{% extends 'layout/manage.html' %}

{% block content %}
<div class="twelve columns">
    <h1>Файлы</h1>
    <div class="row">
        <div class="four columns">
            <a class="button radius small" href="#">Создать подкаталог</a>
        </div>
        <div class="eight columns">
            222
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            <div id="folder_tree"></div>
        </div>
        <div class="eight columns">
            <table id="file_list" class="twelve">
            <thead>
                <th>Имя файла</th>
                <th>Размер</th>
                <th>Действия</th>
            </thead>
            <tbody>
                {% for i in range(2) %}
                <tr>
                    <td>filename.txt</td>
                    <td>100 Kb</td>
                    <td>
                        <ul class="button-group radius">
                            <li><a class="button radius small" href="#">Переместить</a></li>
                            <li><a class="button radius small" href="#">Удалить</a></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
    $AJAX_LIST_URL = {{ url_for('file_manager_list')|tojson|safe }};

    function formatFileSize(size) {
        if (typeof size !== 'number') {
            // The file size field returned from server may be an string, but the value is a vaid number.
            if (typeof size === 'string' && !isNaN(parseInt(size)) ) {
                size = parseInt(size);
            } else {
                return '';
            }
        }

        ratio = 1024;
        if (size >= (ratio * ratio * ratio) ) {
            return (size / (ratio * ratio * ratio)).toFixed(2) + ' GB';
        }
        if (size >= (ratio * ratio)) {
            return (size / (ratio * ratio)).toFixed(2) + ' MB';
        }
        if (size >= ratio) {
            return (size / ratio).toFixed(2) + ' KB';
        }
        return size + ' Bytes';
    }

    $(function(){
        // Attach the dynatree widget to an existing <div id="tree"> element
        // and pass the tree options as an argument to the dynatree() function:
        $.ui.dynatree.nodedatadefaults["isLazy"] = true;
        
        $("#folder_tree").dynatree({
            onActivate: function(node) {
                $.getJSON($AJAX_LIST_URL, { path : node.data.path }, function(data) {
                    var list = data.files;
                    var html = ""

                    for(var i = 0, l = list.length; i < l; i++) {
                        var file = list[i];
                        html += '<tr>'
                                    + '<td><a href="/' + file.path +'">' + file.name + '</a></td>'
                                    + '<td>' + formatFileSize(file.size) + '</td>'
                                    + '<td>'
                                        + '<ul class="button-group radius">'
                                            + '<li><a class="button radius small" href="#">Переместить</a></li>'
                                            + '<li><a class="button radius small" href="#">Удалить</a></li>'
                                        + '</ul>'
                                    + '</td>'
                                + '</tr>'
                    }

                    $("#file_list > tbody").html(html);
                    
                });
            },
            onLazyRead: function(node) {
                $.getJSON($AJAX_LIST_URL, { path : node.data.path }, function(data) {
                    var list = data.dirs;
                    res = [];

                    for(var i = 0, l = list.length; i < l; i++) {
                        var e = list[i];
                        res.push({title: e.name, path: e.path, isFolder: true});
                    }
                    
                    node.setLazyNodeStatus(DTNodeStatus_Ok);
                    node.addChild(res);                    
                });
            },
            children: [
                {title: "files", key: "root", path: "", isFolder: true, isLazy: true},
            ]
        });
        node = $("#folder_tree").dynatree("getTree").getNodeByKey("root");
        node.activate();
        node.expand();
    });

    </script>    
{% endblock scripts %}
