{% extends 'layout/manage.html' %}

{% block content %}
<div class="twelve columns">
    <h1>Список страниц</h1>
    <table class="twelve">
    <thead><tr>
        <th>Путь</th>
        <th>Заголовок</th>
        <th>Действия</th>
    </tr></thead>
    <tbody>
        {% for page in pages %}
        <tr>
            <td><a href="{{ '/' + page['path'] }}">{{ page['path'] }}</a></td>
            <td>{{ page['title'] }}</td>
            <td><div class="btn-group">
                <a href="{{ url_for('edit_page', path=page['path']) }}" class="btn"><i class="icon-pencil"></i> Редактировать</a>
                <a href="{{ url_for('delete_page', path=page['path']) }}" class="btn"><i class="icon-remove"></i> Удалить</a>
            </td></div>
        </tr>
        {% endfor %}
        <tr>
            <td colspan=2><input id="new_path" type=text placeholder="some/new/path"></td>
            <td><button id="create_page" class="button">Создать</button></td></tr>
    </tbody>
    </table>
</div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    
    <script language="javascript">
        var base_url = '{{ url_for("index") }}';

        $('#create_page').on('click', function() {
            var path = $('#new_path').val();
            if (path) {
                window.location = base_url + path + '/edit';
            }
        })
    </script>
    
{% endblock scripts %}

