/* line 1, ../scss/content.scss */
#content {
  background: none repeat scroll 0 0 #fff5ed;
  font-family: tahoma,arial,helvetica;
  font-size: 10pt;
  padding: 0.5em 1em 1em;
}

/* line 8, ../scss/content.scss */
#content IMG, #content DIV {
  border: 0 none;
  margin: 0;
  padding: 0;
}

/* line 14, ../scss/content.scss */
#content TABLE {
  border: 0 none;
  border-collapse: collapse;
  font-family: tahoma,arial,helvetica;
  font-size: 8pt;
  margin: 0;
  padding: 0;
}
/* line 22, ../scss/content.scss */
#content TABLE TD {
  border: 0 none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

/* line 30, ../scss/content.scss */
#content P {
  margin: 0;
  text-indent: 24px;
}

/* line 35, ../scss/content.scss */
h1, h2, h3, .h1, .h2, .h3 {
  color: #9B350B;
  font-weight: bold;
}

/* line 40, ../scss/content.scss */
h1, .h1 {
  font-size: 15pt;
}

/* line 41, ../scss/content.scss */
h2, .h2 {
  font-size: 13pt;
}

/* line 42, ../scss/content.scss */
h3, .h3 {
  font-size: 11pt;
}

/* line 44, ../scss/content.scss */
#content a {
  color: #9B350B;
  text-decoration: underline;
}
/* line 48, ../scss/content.scss */
#content a:hover {
  text-decoration: none;
}

/* line 51, ../scss/content.scss */
#content DIV.plusInfo {
  background: none repeat scroll 0 0 #feddbe;
  border-left: 4px solid #9b350b;
  color: #9B350B;
  float: right;
  font-size: 7pt;
  margin: 1em;
  padding: 1em;
}

/* line 61, ../scss/content.scss */
#content DIV.plusInfo A {
  color: #000000;
}

/* line 65, ../scss/content.scss */
#content DIV.plusInfo P {
  margin: 0;
}

/* line 69, ../scss/content.scss */
#content TABLE.file {
  float: left;
  font-size: 8pt;
  margin: 1em;
  padding: 1em;
}

/* line 76, ../scss/content.scss */
#content TABLE.file TD.pic {
  padding: 2px;
}

/* line 80, ../scss/content.scss */
#content TABLE.file DIV.name {
  font-weight: bold;
}

/* line 84, ../scss/content.scss */
#content TABLE.file DIV.name A {
  text-decoration: none;
}

/* line 88, ../scss/content.scss */
#content TABLE.file DIV.name A:hover {
  text-decoration: underline;
}

/* line 91, ../scss/content.scss */
#content TABLE.file DIV.desc {
  font-size: 7pt;
}

/* line 95, ../scss/content.scss */
#content ul, #content ol {
  margin: 0 0 10px;
  padding: 0 0 0 40px;
  list-style: square outside none;
}

/* line 101, ../scss/content.scss */
#content ul li, #content ol li {
  margin: 0;
  padding: 0;
}

/* line 106, ../scss/content.scss */
#content blockquote {
  color: #9B350B;
  margin: 0 0 0 40px;
  padding: 0;
}

/* line 112, ../scss/content.scss */
#content acronym {
  border-bottom: 1px dotted #9b350b;
  color: #9B350B;
  display: inline;
  margin: 0;
  padding: 0;
}

/* line 120, ../scss/content.scss */
#content img {
  background: none repeat scroll 0 0 #9b350b;
  border: 4px solid #feddbe;
  margin: 2em;
  padding: 1px;
}

/* line 127, ../scss/content.scss */
#content img.left {
  display: block;
  float: left;
  margin: 15px 2em 15px 0;
}

/* line 133, ../scss/content.scss */
#content img.right {
  display: block;
  float: right;
  margin: 15px 0 15px 2em;
}

/* line 139, ../scss/content.scss */
#content table.data {
  background: none repeat scroll 0 0 #feddbe;
  border-bottom: 4px solid #9b350b;
  border-right: 4px solid #9b350b;
  margin: 0 0 2em;
  width: 95%;
}
/* line 146, ../scss/content.scss */
#content table.data caption {
  font-size: 7pt;
  font-weight: bold;
  padding: 0 0 5px;
  text-align: left;
}
/* line 153, ../scss/content.scss */
#content table.data tr {
  text-align: left;
}
/* line 157, ../scss/content.scss */
#content table.data tr.l {
  background: none repeat scroll 0 0 #ffefe0;
}
/* line 161, ../scss/content.scss */
#content table.data th {
  background: none repeat scroll 0 0 #9b350b;
  border: 1px solid #9b350b;
  color: #FEDDBE;
  padding: 4px;
  text-align: left;
}
/* line 169, ../scss/content.scss */
#content table.data td {
  border: 1px solid #9b350b;
  padding: 4px;
}

/* line 175, ../scss/content.scss */
#content table tbody tr td {
  color: #000000;
}

/* line 179, ../scss/content.scss */
#content .withTxt {
  margin: 2em;
}
/* line 182, ../scss/content.scss */
#content .withTxt.left {
  float: left;
  margin: 15px 2em 15px 1em;
}
/* line 187, ../scss/content.scss */
#content .withTxt.right {
  float: right;
  margin: 15px 1em 15px 2em;
}
/* line 192, ../scss/content.scss */
#content .withTxt TD.text {
  color: #9B350B;
  font-size: 8pt;
  white-space: normal;
}
/* line 198, ../scss/content.scss */
#content .withTxt IMG {
  display: block;
  margin: 0 0 1em;
}

/* line 205, ../scss/content.scss */
#content DIV.left {
  float: left;
}
/* line 206, ../scss/content.scss */
#content DIV.right {
  float: right;
}
