<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title | d('school9.perm.ru') }}{% endblock %}</title>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="school9.perm.ru - сайт школы №9 г. Перми">
  <meta name="author" content="Alex Ankudinov">
  
  {% block stylesheets %}
      {% assets "site_css" %}
          <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" >
      {% endassets %}
  {% endblock stylesheets %} 
</head>
<body>
  {% include 'inc/message-flashing.html' %}
  
  <div class="container-fluid">
  {% block layout_body %}
  {% endblock layout_body %}
  </div>

  {% block scripts %}
      {% assets "all_js" %}
          <script src="{{ ASSET_URL }}"></script>
      {% endassets %}
     
      <!-- Wiki9 js code !-->
      <script src="{{ url_for('static', filename='js/wiki9.js') }}"></script>
  {% endblock scripts %}
</body>
</html>

